<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daily Expense Manager</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>
	<div class="container">
		<h2>This is user home page</h2>
	</div>
	
<script type="text/javascript">
$(document).ready(function() {
   $('#home').addClass('active');
   $('#aboutUs').removeClass('active');
   $('#contactUs').removeClass('active');
   $('#reigisterId').removeClass('active');
   $('#loginId').removeClass('active');
});
</script>	
	
</body>
</html>