<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daily Expense Manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div class="container">
		<!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->
		<div class="form_wrapper" id="signInInformation">
			<div class="form_container">
				<div class="title_container">
					<h2>Login Form</h2>
				</div>
				<div class="row clearfix">
					<div class="col_half">
						<div class="social_btn fb">
							<a href="#"><span><i class="fa fa-facebook"
									aria-hidden="true"></i></span>Sign in with Facebook</a>
						</div>
						<div class="social_btn tw">
							<a href="#"><span><i class="fa fa-twitter"
									aria-hidden="true"></i></span>Sign in with Twitter</a>
						</div>
						<div class="social_btn gplus">
							<a href="#"><span><i class="fa fa-google-plus"
									aria-hidden="true"></i></span>Sign in with Google+</a>
						</div>
					</div>
					<div class="col_half last">
						<form th:action="@{/login}" method="POST">
							<div class="input_field">
								<span><i class="glyphicon glyphicon-envelope"
									aria-hidden="true"></i></span> <input type="text" id="email"
									name="email" th:placeholder="Email" class="form-control" />
							</div>
							<div class="input_field">
								<span><i class="glyphicon glyphicon-lock"
									aria-hidden="true"></i></span> <input type="password"
									th:placeholder="Password" id="password" name="password"
									class="form-control" />
							</div>
							<input class="button" type="submit" value="Sign in" />
							<div class="row clearfix bottom_row">
								<div class="col_half remember_me">
									<input name="" type="checkbox" value="" style="margin: 0px 0 0" />
									Remember me
								</div>
								<div class="col_half forgot_pw">
									<a href="#">Forgot Password?</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password
						invalid, please verify</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#contactUs').removeClass('active');
			$('#aboutUs').removeClass('active');
			$('#home').removeClass('active');
			$('#reigisterId').removeClass('active');
			$('#loginId').addClass('active');
		});
	</script>
</body>
</html>