<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daily Expense Manager</title>
<th:block th:include="layout/authheader"></th:block>
</head>

<body>
	<div class="container">
	<br/>
   		<form autocomplete="off" action="#" th:action="@{/user/changeUserPassword}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
			<h2>Changed Password Form</h2>
			<span th:utext="${errorMessage}" style="color: red;"></span>
			<div class="form-group">
				<div class="col-sm-9">
					<input type="password" th:field="*{newPassword}" placeholder="Confirm Password" class="form-control" min="5"/> 
				</div>
			</div>
	
			<div class="form-group">
				<div class="col-sm-9">
					<input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password" class="form-control" min="5"/> 
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9">
					<button type="submit" class="btn btn-primary btn-block">Change Password</button>
				</div>
			</div>
			<span th:utext="${successMessage}"></span>
		</form>
	</div>
<script type="text/javascript">
	$(document).ready(function() {
	    $('#dashboard').addClass('active');
	    $('#listUser').removeClass('active');
	    $('#listCategory').removeClass('active');
	});
</script> 
</body>
</html>