<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daily Expense Manager</title>
<th:block th:include="layout/authheader"></th:block>

</head>

<body>
	<div class="container">
	<br/>
   		<form autocomplete="off" action="#" th:action="@{addEditCategory}"
			th:object="${category}" method="post" class="form-horizontal"
			role="form">
			<h2>Category Form</h2>
			<div class="form-group">
				<div class="col-sm-9">
				 <input type="hidden" class="form-control" th:field="*{categoryId}"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9">
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						class="validation-message"></label>
				<input type="text" th:field="*{name}" placeholder="Name"
						class="form-control" /> 
				</div>
			</div>
	
			<div class="form-group">
				<div class="col-sm-9">
						<textarea rows="5" cols="5" th:field="*{description}"
						placeholder="Description" class="form-control" ></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9">
					<button type="submit" class="btn btn-primary btn-block">Add Category</button>
				</div>
			</div>
			<span th:utext="${successMessage}"></span>
		</form>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#listCategory').addClass('active');
	    $('#dashboard').removeClass('active');
	    $('#listUser').removeClass('active');
	});
    </script> 
</body>
</html>