<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daily Expense Manager</title>

<th:block th:include="layout/authheader"></th:block>

</head>

<body>
	<div class="container">
		 <h2>Category Table</h2>
		<table id="categoryTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead class="bg-primary">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Actions &nbsp; <a th:href="@{addCategory}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categories}">
					<td th:text="${category.name}"></td>
					<td th:text="${category.description}"></td>
					<td><a th:href="${'editCategory/' + category.categoryId}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;<a th:href="${'deleteCategory/' + category.categoryId}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#categoryTable').DataTable({
	    	"paging": true,
	 	    "autoWidth": true
	    });
	    $('#listCategory').addClass('active');
	    $('#dashboard').removeClass('active');
	    $('#listUser').removeClass('active');
	});
    </script> 
</body>
</html>