<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daily Expense Manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="">Daily Expense Manager</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="dashboard" class="active"><a th:href="@{adminHome}">Dashboard</a></li>
					<li id="listUser"><a href="">User</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><span
							th:utext="${userName}"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Edit Profile</a></li>
							<li><a href="">Change Password</a></li>
							<li><a th:href="@{/logout}">Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container contactView">
		<!-- Admin Dashboard information -->
		<div id="adminDashboard">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="offer offer-danger">
						<div class="shape">
							<div class="shape-text">
								<span class="glyphicon glyphicon glyphicon-eye-open"></span>
							</div>
						</div>
						<div class="offer-content">
							<h3 class="lead">
								Danger : <label class="label label-danger">323</label>
							</h3>
							<p>
								Oranı: <br>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar"
									aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
									style="width: 40%">60%</div>
							</div>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="offer offer-success">
						<div class="shape">
							<div class="shape-text">
								<span class="glyphicon glyphicon glyphicon-th"></span>
							</div>
						</div>
						<div class="offer-content">
							<h3 class="lead">
								success : <label class="label label-success"> 323</label>
							</h3>
							<p>
								Ortalama Oranı : <br>
							<div class="progress">
								<div class="progress-bar progress-bar-success"
									role="progressbar" aria-valuenow="60" aria-valuemin="0"
									aria-valuemax="100" style="width: 40%">60%</div>
							</div>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="offer offer-radius offer-primary">
						<div class="shape">
							<div class="shape-text">
								<span class="glyphicon  glyphicon-user"></span>
							</div>
						</div>
						<div class="offer-content">
							<h3 class="lead">
								primary : <label class="label label-primary"> 323</label>
							</h3>
							<p>
								Ortalama Oranı: <br>
							<div class="progress">
								<div class="progress-bar progress-bar-primary"
									role="progressbar" aria-valuenow="60" aria-valuemin="0"
									aria-valuemax="100" style="width: 40%">60%</div>
							</div>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="offer offer-info">
						<div class="shape">
							<div class="shape-text">
								<span class="glyphicon  glyphicon-home"></span>
							</div>
						</div>
						<div class="offer-content">
							<h3 class="lead">
								İnfo : <label class="label label-info"> 323</label>
							</h3>
							<p>
								Kullanma Oranı: <br>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar"
									aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
									style="width: 40%">60%</div>
							</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>